
body {
    background-color: lightslategrey;
}

label {
    display: block;
}

#canvas {
    background-color: white;
    width:100%; 
    height:600px;

}

.control {
    display: inline-block;
    padding: 10px;

}
